@import compass/css3/box-shadow

.login,
.registration,
.registration-complete,
.password-reset,
.password-reset-done,
.contact
  h1
    font-size: 1.2rem
    text-transform: uppercase
    padding: $m 0
    border-bottom: 2px solid
    margin-top: $m/4
  main
    text-align: center
    padding: $m*2 $m !important
    margin: 2*$m $m
    +breakpoint('sm')
      width: 360px
      margin: 0 auto

.form--registration,
.form--login,
.form--password-reset,
.form--contact
  +generic_form

.loginform-links
  +links_normal
.loginform-links__link
  font-size: $size_small

.registration-complete
  main
    padding: $m*2
    font-size: 1.25em

.password-reset-instructions
  margin-bottom: $m*2

.field__help--new_password1 + ul
  font-size: .85em
  color: #555
  text-align: left
  li::before
    content: "»   "

.contact-sent__exit
  margin: $m*2 0
  text-transform: uppercase
  +links_normal
