// User general actions (login, logout, profile) block

.user-actions
  display: none
  +clearfix
  text-align: center
  +breakpoint('md')
    height: 20px
    text-align: right
    display: inline-block
    float: right
    width: 50px
    font-size: $size_smaller

.main-menu.active + .user-actions
  display: block !important

.user-actions
  width: auto
  +links_toolbar
  line-height: $m*1.5
  +breakpoint('sm')
    line-height: 20px

.user-actions__hello,
.user-actions__admin
  text-transform: uppercase

.user-actions a
  border: 0
  position: relative
  top: 4px
.user-actions li
  display: inline
  margin: 0 $m/2
