@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,700");
@font-face {
  font-family: "civics";
  src: url('../fonts/civics.woff?1612871830') format('woff'), url('../fonts/civics.ttf?1612871830') format('truetype'), url('../fonts/civics.eot?1612871830') format('embedded-opentype'), url('../fonts/civics.svg?1612871830') format('svg');
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 17, ../sass/maintenance.sass */
[class*='icon-']::before,
[class*='i-']::before {
  font-family: "civics";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 50, ../sass/maintenance.sass */
* {
  box-sizing: border-box;
}

/* line 53, ../sass/maintenance.sass */
html, body {
  margin: 0;
}

/* line 56, ../sass/maintenance.sass */
body {
  text-align: center;
  padding-top: 200px;
  font-family: "Oxygen", sans-serif;
  background: #eee;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.75);
}

/* line 64, ../sass/maintenance.sass */
img {
  width: 480px;
  -moz-animation: show 3s 1;
  -webkit-animation: show 3s 1;
  animation: show 3s 1;
}

/* line 68, ../sass/maintenance.sass */
ul, li, ol {
  margin-left: 0;
  padding-left: 0;
}

/* line 72, ../sass/maintenance.sass */
li {
  list-style: none;
  margin: 12px 0;
}

/* line 76, ../sass/maintenance.sass */
a {
  text-decoration: none;
}

/* line 81, ../sass/maintenance.sass */
.maintenance-text {
  max-width: 480px;
  margin: 48px auto;
  padding: 24px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
}

/* line 39, ../sass/maintenance.sass */
.goodbay__links a {
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
/* line 41, ../sass/maintenance.sass */
.goodbay__links a:link, .goodbay__links a:visited {
  color: #DC5099;
}
/* line 43, ../sass/maintenance.sass */
.goodbay__links a:hover {
  color: #e57bb2;
}
/* line 45, ../sass/maintenance.sass */
.goodbay__links a:active {
  color: #DC5099;
}

/* line 35, ../sass/maintenance.sass */
.icon-twitter::before {
  content: "";
}

/* line 35, ../sass/maintenance.sass */
.icon-facebook::before {
  content: "";
}
