@import compass/css3/inline-block

.civics-about
  margin: 0 auto
  min-height: 100vh
  width: 960px
  max-width: 100%
  text-align: justify
  background: white
  padding: 0 $m*2
  +links_normal

.civics-about__title
  border-bottom: 2px solid
  margin-top: $m/4

.close-about
  position: absolute
  right: $m*2
  font-size: 1.5rem
  &:hover
    cursor: pointer

.civics-about__text
  font-size: 1.4em
  p
    margin-bottom: $m/3
  strong
    display: inline-block
    margin-top: $m/2 !important

.civics-about__ethic-code
  li
    list-style: none
    margin-bottom: $m/4
    padding-left: $m
    &:before
      content: "- "

.civics-about__icons
  margin: $m*2 0
  +clearfix

  [class^='icon-']
    font-size: 2em
    margin-bottom: $m/2
  .plus-icon
    font-weight: bold
    font-size: 1.5em

.civics-about__icons-item
  +inline-block
  width: 30%
  padding: 0 $m
  text-align: center

.civics-about__icon-text
  text-transform: uppercase
  font-size: $size_small

.civics-about__credits
  margin-top: $m*2
.civics-about__logos
  text-align: center
  margin: $m/2 0 $m*2

.civics-about__license-text
  margin-top: $m*2
  +links_normal

.civics-logo--about
  height: 75px
  margin-bottom: $m

.civics-about__team
  strong
    display: inline-block
    margin-bottom: $m/2
    text-align: center
