<!-- Renders a block with user actions and the state of map filters -->

<div class="map-actions">
    <div class="legend-help"
         ng-init="show_legend=false">
        <span class="legend-help__icon icon-info"
              ng-click="content.showHelpModal()">
        </span>
    </div>
    <div class="map-actions__actions">
        <a href="/#!/activos" title="{{'Ver contenido en formato mapa'|t}}"
           ng-if="content.format == 'list'">
           <span class="icon-map"></span>
        </a>
        <a href="/#!/activos-lista" title="{{'Ver contenido en formato lista'|t}}"
           ng-if="content.format == 'map'">
           <span class="icon-list"></span>
        </a>
        <span
          class="map-actions__action--download icon-download"
          ng-class="{ 'active' : content.download_modal_visible }"
          ng-click="content.showDownloadModal()"
          title="{{'Descargar la vista'|t}}">
        </span>
        <div
          class="map-actions-popup map-actions-popup--download"
          ng-show="content.download_modal_visible"
        >
            <span
              class="map-actions-popup__close"
              ng-click="content.download_modal_visible=false"
            >
                ×
            </span>
            <ul class="map-actions-popup__links">
                <li class="map-actions-popup__links-item icon-download">
                    <span ng-click="content.download('csv')">
                        {{ 'Descargar la vista en CSV' | t }}
                    </span>
                </li>
            </ul>
        </div>
        <span
          class="map-actions__action--share icon-share"
          ng-class="{ 'active' : content.sharing_url }"
          ng-click="content.shareUrl()"
          ng-if="content.format == 'map'">
        </span>
        <div class="map-actions-popup map-actions-popup--share" ng-show="content.sharing_url">
            <span class="map-actions-popup__close" ng-click="content.sharing_url=false">×</span>
            <p class="share-url__text">
                {{ 'Puedes usar este enlace para compartir la vista actual del mapa' | t}}:
            </p>
            <input class="map-actions-popup__share-link" value="{{ content.shared_url }}" />
        </div>
        <div class="map-actions__help-tip arrow-up arrow-left"
             ng-click="content.show_help = false"
             ng-show="content.show_help && content.format == 'map'">
             <p>{{ 'En esta esquina tienes distintas acciones que puedes realizar sobre el contenido mostrado:' | t }}</p>
             <ul>
                 <li><span class="icon-list"></span> {{ 'Ver contenido en formato lista' | t }}</li>
                 <li><span class="icon-download"></span> {{ 'Descargar vista actual en formato XLS o CSV' | t }}</li>
                 <li><span class="icon-share"></span> {{ 'Generar un enlace para compartir la vista actual' | t }}</li>
                 <li><span class="icon-layers"></span> {{ 'Cambiar la capa base del mapa' | t }}</li>
                 <li><span class="icon-expand"></span> {{ 'Volver a la vista inicial de todo el contenido' | t }}</li>
                 <li><span class="icon-locate"></span> {{ 'Localízate en el mapa' | t }}</li>
             </ul>
        </div>
        <div class="map-actions__help-tip arrow-up"
             ng-click="content.show_help = false" ng-show="content.show_help && content.format == 'list'">
             <p>{{ 'En esta esquina tienes distintas acciones que puedes realizar sobre el contenido mostrado:' | t }}</p>
             <ul>
                 <li><span class="icon-map"></span> {{ 'Ver contenido en formato mapa' | t }}</li>
                 <li><span class="icon-star"></span> {{ 'Ver contenido destacado' | t }}</li>
                 <li><span class="icon-download"></span> {{ 'Descargar vista actual en formato XLS o CSV' | t }}</li>
             </ul>
        </div>
    </div>
    <div class="markers-count">
        <span class="markers-count__label">{{'Mostrando'|t}} </span>
        <span class="markers-count__number">{{ content.count }}</span>
        <span class="markers-count__label">{{'activos'|t}}</span>
    </div>
    <ul class="filter-tags">
        <li class="filter-tags__tag"
            ng-repeat="filter in content.selected_tabs"
            ng-click="content.removeFilter($index)">
            {{ filter.n|t }} <span class="filter-tags__close">×</span>
        </li>
        <li class="filter-tags__remove"
            ng-show="content.selected_tabs.length > 0"
            ng-click="content.removeFilters()">
            {{'Eliminar filtros'|t}}
        </li>
    </ul>
    <div search></div>
</div>
