{# Base template for the site #} {% load static utils i18n %} <!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Title and description #}
        <title>
            {% block document_title %}{% endblock %} |
            {% trans 'Mapa de activos de salud' %}
        </title>

        {% if page_description %}
            <meta name="description" content="{{ page_description }}">
        {% else %}
            <meta name="description" content="{{ document_description }}">
        {% endif %}

        {# Robots and humans #}
        <meta name="robots" content="robots.txt">
        <link href="humans.txt" rel="author">

        {# Favicons #}
        <link href="{% img 'favicon.ico' %}" rel="icon" type="image/png">

        {# Styles #}
        <style>.region-content, .region-toolbar { display: none; }</style>
        <link href="{% css 'style.css' %}" rel="stylesheet">
        {# Block for the extension of base head, to include css/js libraries #}
        {% block page_header %}{% endblock %}
    </head>

    <body class="{% if user.is_authenticated %}logged-in{% endif %} {% if user.is_staff %}staff-user{% endif %} {% block body_classes %}{% endblock %} {% block layout_classes %}{% endblock %}">
        {# Toolbar #}
        {% include 'regions/toolbar.html' with region_name="toolbar" html_container="div" layout="fluid" %}

        {# Site messages #}
        {% include 'regions/messages.html' with region_name="messages" html_container="div" layout="fixed" %}

        {# Content layouts #}
        {% block layout %}{% endblock %}

        {# Scripts #}
        <!-- Active section detection script -->
        <script type="text/javascript">
            switch(window.location.pathname){
                case '/acerca':
                    document.querySelectorAll('.main-menu__link')[0].classList.add('active'); break;
            }
        </script>
        {% block page_scripts %}{% endblock %}
        <script type="text/javascript">
            var content = document.querySelector('.region-content');
            var header = document.querySelector('.region-toolbar');
            content.style.display = 'block';
            header.style.display = 'block';
        </script>
    </body>
</html>
